*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	color: #fff;
}
body{
	background: linear-gradient(#452c7b, #230844);/*top to bottom e o default*/
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#header{
	padding:12px 15px;
	margin-bottom: 5px;
	background-color: #f26122;
}
#header i{
	font-size: 2rem;
	cursor: pointer;
}
#header img{
	width: 30px;
	margin-left: 600px;
}
.game-image{
	display: flex;
	flex-direction: column;
	width: 65%;
	margin:auto;
	justify-content: center;
	align-items: center;
	border:1px solid #fff;
	border-radius: 10px;
}
.game-image img{
	width: 80%;
	object-fit: cover;
}
.botaoNovoJogo{
	display: flex;
	justify-content: center;
	padding:20px 0;
	border-top: 1px solid #fff;
	width: 100%;
}
.button{
	background-color: #f26122;
	padding:12px 50px;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;	
}

.X{
	display: none;
	position: absolute;
	top: 70px;
	left: 20px;
	font-weight: bold;
	font-size: 1.5rem;
	cursor: pointer;
}
#fazerLogin{
	margin:auto;
	margin-bottom: 20px;
	padding:10px 0;
	font-weight: bold;
	text-align: center;
	border-radius: 25px;
	background-color: #77b020;
	width: 35%;
	cursor: pointer;
}
.container6{
	display: none;
	width: 800px;
	margin:auto;
}
.login-text{
	text-align: center;
	padding-bottom: 20px;
}

.login-text label i{
	font-weight: bold;
}
.login-here{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding-bottom: 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-bottom: 50px;
}
.giga i{
	color: #f26122;
	font-weight: bold;
	font-size: 1.3rem;
	padding-right: 100px;
}
.teacher-img img{
	width: 135px;
}
.welcome-text{
	text-align: center;
	width: 78%;
	font-size: 0.9rem;
	margin:auto;
	margin-bottom: 50px;
	padding-top: 50px;
}
.welcome-text small{
	color: #98a0b5;
}
.warning small{
	text-align: center;
	color: #98a0b5;
	display: block;
	margin-bottom: 5px;
}
.warning a{
	text-align: center;
	color: #98a0b5;
	font-weight: bold;
	display: block;
	font-size: 0.9rem;
}
.welcome-text--wrapper{
	background-color: #2f2563;
	padding-bottom: 5px;
}
.overall{
	border:1px solid #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
/*TABLET*/
	@media(min-width: 768px) and (max-width: 1023px){
		.container6{
			width: 690px;
		}
	}
/*END OF TABLET*/

@media(max-width: 767px){
	#header img {
    width: 30px;
    margin-left: 200px;
}
.container6{
	width: 310px;
		}
		.giga{
			text-align: center;
		}
		.giga i {
		    font-size: 1rem;
		    padding-right: 75px;
		    padding-left: 25px;
		}
}